.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 7rem 0;

    .btn-icon {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 2rem;
        color: gray;
        // background: unset;
        display: flex;
        justify-content: center;

        &:hover {
            cursor: pointer;
            color: var(--color-df);
        }
    }

    .btn-icon.dis {
        opacity: 0.5;
        pointer-events: none;
    }

    .button {
        width: 2rem;
        // height: 2.4rem;
        text-align: center;
        cursor: pointer;
        color: black;
        padding: 5px;
        border-radius: 50%;
        &:hover {
            border: 2px solid var(--color-df);
            color: var(--color-df);
        }
    }

    .button.active {
        border: 2px solid var(--color-df2);
        color: var(--color-df);
        padding: 3px;
    }
}