.service-container{
    width: 100%;
    padding : 5% 0;
    .service-table , th , td {
        border: 1px solid rgb(214, 214, 214);
        padding: 10px;
        
    }
    .service-table {
        margin: 0 auto;
        width: 70%;
        color: black !important;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      
        .service-head{
            th{
                padding : 20px;
                text-align: center;
                background-color: rgb(238, 237, 236);
            }
        }

        .service-body{
            tr{
                cursor: pointer;
            }
            tr:hover {
            
            td{
                background-color: rgb(219, 227, 235) !important;
            }
        }
            td:first-child{
                text-align: center;
                background-color: rgb(239, 242, 252);
            }
            td{
                padding: 10px;
            }
            td:last-child{
                color: darkslateblue;
                text-align: center;
            }
            .title{
                color:rgb(66, 104, 175);
            }
        }

    }
}
