// .container{

// }
.slide-item{
    height: 350px;
    padding: 2%;
}
.introduce-container{
    margin-top: 150px;
    width:100%;
    // height:300px;
    background-image: url(../../public/assets/istockphoto-638377134-612x612.jpg);
    background-size: cover;
}
.carousel-container{
    position: relative;
    width: 100%;
    max-width: 100% !important;
    background-color: rgba(69, 81, 134, 0.7);
    margin: 0;
    // z-index: ;
}
// .introduce-container-overlay{
//     width:100%;
//     height:inherit;
//     background-color: rgb(0, 191, 255,0.3);
//     z-index: 1;
// }
.h6{
    color:blueviolet;
    font-size: medium;
}

.card{
    width:18%;
    text-align: center;
}
.icon{
    color: white;
    font-size: 56px;
}
// .carousel-container{
//     height: 350px;
// }
.carousel-indicators button {

    background-color: red;
}


//news
.news-container{
    padding: 5% 15%;
    background-color: #fcfcfc;
    h2{
        padding: 15px 0;
        hr{
            color:#0392ce;
            width: 80px;
        }
    }
    .news-list{
        padding: 2% 0;
        display: flex;
        height: auto;
        justify-content: space-between;
    }
    .news-item-container{
        width: 32%;
        height: 100%;
    }
}

// docter
.info {
    padding: 0 !important;
}

//video
.intro-container{
    padding: 5% 10%;
}
.intro-main{
    .video-container{
        float: right;
        width: 60%;
        padding-left: 5%;
        .video{
            width: 100%;
        }
    }
    text-align: justify;
    text-justify: inter-word;
}

//depart
.department{
    align-items: stretch;
}
.depart-item-slide{
    padding: 10px;
    height: 25vw;
    min-height: 350px;
}
.depart-item{
    border: 0.5px solid rgb(228, 226, 226);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    .depart-icon{
        width: 100%;
        padding: 20px 0;
        transition: 0.3s;
    }
    svg{
        font-size: 5rem;
        color: var(--color-df);
        transition: 0.3s;
        margin: 0 auto;
        display: block;
    }
    .depart-item-main{
        padding: 10px 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        h5{
            flex: 1;
            text-align: center;
            font-size: 1rem;
    }
    p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;  
    }}
    button{
        padding: 10px 20px;
        border: 0.5px solid rgb(224, 223, 223);
        border-radius: 20px;
        transition: 0.3s;
    }
}
.depart-item:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .depart-icon{
        background-color: #0392ce;
    }
    svg{
        color: white;
    }
    button{
        color: white;
        background-color: #0392ce;
    }
}


//respon
@media only screen and (max-width: 1500px) {
    .news-container{
        padding: 5% 10%;
    }
}
@media only screen and (max-width: 1300px) {
  
    .depart-icon{
        svg{
            font-size: 4rem;
        }
    }
    .depart-item-slide{
        min-height: 300px;
    }
    
}
@media only screen and (max-width: 900px) {
    .news-list{
        flex-direction: column;
        gap:20px;
    }
    .news-item-container{
        width: 100% !important;
        height: 207px !important;
    }
    .item-content{
        flex-wrap: wrap;
        .card{
            width: 45% !important;
        }
    }
}
@media only screen and (max-width: 700px) {
    .news-container{
        padding: 5%;
    }
   
}