.container {
    font-size: medium;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 20px 20px;
    color: black;
    width: 100%;
    padding: 5% 10%;
    margin-top: 150px;
    .image{
      margin: 0 auto;
      display: block;
    }
} 


