.container {
    font-size: 13;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 10% 10%;
    color: black !important;
    margin: 0 auto;
    margin-top: 150px;
    .image {
      padding: 3% 3%;
      margin: 0 auto;
      display: block;
      object-position: center;
      object-fit: cover;
    }
    
} 

// *{
//   box-sizing: border-box;
  
// }

@media only screen and (max-width: 320px) {
  .container {
    max-width: 100%;
    padding: 3% 3% ;
  }
  .image {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 3% 3% ;
  }
}
@media only screen and (min-width: 1025px) {
 
}

 
